html {
  width: 100%;
  background-color: #f9fafc;
  color: black;
  font-family: 'Open Sans', sans-serif; 
}

.container {
display: grid;
grid-template-columns: 2fr 1fr 1fr;
grid-template-rows: auto;
height: auto;
grid-template-areas:
"header header header"
"left middle right";
grid-column-gap: 10px;
grid-row-gap: 10px;
padding: 1% .5%;

}

#logo {
  float: left;
  padding-left: 20px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  }
  
  .topnav {
  grid-area: header;
  text-align: right; 
  padding: 1% 0; 
  }
  
  .topnav ul{
  margin: 0;
  float: right;
  }
  
  .topnav ul li{
  display: inline-block;
  font-size: 16px;
  margin-right: 20px; 
  /*     provides space inbetween nav links */
  }
  
  .left-container {
  grid-area: left;
  padding: 95px 20px;
  }   
  .middle-container {
  grid-area: middle;
  }  
  .right-container {
  grid-area: right;
  
  } 

h1 {
  font-size: 32px;
  font-weight: 600;
}

p {
  font-weight: 500;
  color: #88898B;
  font-size: 16px;
  border-left: 3px solid #cccccc;
  padding-left: 20px;

}

      
#small-purple-circle{
  position: absolute;
  z-index: 2;
  background-color: rgba(207, 130, 213, 0.6);
  border-radius: 50%;


  padding: 80px 80px;
  margin: 200px 100px 0px 100px;
  display: inline-block;
}


#medium-orange-circle{
  position: absolute;
  z-index: 3;
  background-color: rgba(247, 193, 162, 0.7);
  border-radius: 50%;


  padding: 100px 100px;
  margin: 310px 150px 50px 20px;
  display: inline-block;
}

#large-pink-circle{
  position: absolute;
  z-index: 1;
  background-color: rgba(247, 136, 167, 0.6);
  border-radius: 50%;


  padding: 150px 150px;
  margin: 160px 80px 80px -150px;  
  display: inline-block;
}






.button1 {
  color: white;
  background-color: #000;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
}
  
  .button1:link {
    color: white;
  }

  .button1:visited {
    color: white;
  }
  
  .button1:hover {
    color: black;
    background-color: #f9fafc;
    border: 1px solid black; 
    text-decoration: none;
  }
  
#scroll {
    color: white;
    width: 10%;
    font-size: 16px;
    background-color: #000;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    margin: 0 -66px;

    position:absolute;
    bottom: 20px;
  }
  #scroll >a {
    color: white;
}

  #scroll >a:visited {
    color: white;
  }
  
  #scroll >a:hover {
    color: black;
    text-decoration: none;
  }

  #scroll:hover {
    color: black;
    background-color: #f9fafc; 
    border: 1px solid black;
  }


  a, a:link, a:visited {
    color: #88898B;
    text-decoration: none;

    }

a:hover {
    color:#000;
}
